# Lists all of the folders/files to ignore in git repository
# Ignore Compiled files
*.exe
HelloKinect/HelloKinect/HelloKinect/bin/
HelloKinect/HelloKinect/HelloKinect/obj/
HelloKinect/HelloKinect/HelloKinectContent/obj/
HelloKinect/HelloKinect/HelloKinectContent/bin/